:root {
  --primary: #8C4108;
  --background: #031D30;
  --secondary: #010E18;
  --text: #FAFDFF;
  --accent: #D9650D;
}

* {
  background-color: var(--background);
  color: var(--text);
}


/* HOME */


.home-button {
  font-size: large;
  width: 100%;
  padding: 0.25rem 2rem;
  background-color: var(--primary);
  color: var(--text);
  outline: none ;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: 75%;
  transition: opacity 0.15s linear;
}

.home-button:active,
.home-button:hover,
.home-button:focus {
  opacity: 100%;
}

.home-button:focus {
  outline: 1px solid var(--text);

}

.home-input {
  border: 2px solid var(--primary);
  color: var(--text);
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.home-input::placeholder {
  color: var(--text);
  font-weight: bold;
}

.home-input[type="checkbox"] {
  accent-color: var(--accent);
  border: 4px solid var(--primary)
}


/* ROOMCHOICE */

.room-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room-choice>h2 {}

.room-choice-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  /* background-color: var(--primary); */
  /* color: white; */
}

.room-choice-buttons>button {
  font-size: large;
  width: 100%;
  padding: 0.25rem 2rem;
  background-color: var(--primary);
  color: var(--text);
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: 75%;
  transition: all 0.15s linear;
}

.room-choice-buttons>button:hover,
.room-choice-buttons>button:active {
  opacity: 100%;
}

/* CREATEROOM */


.create-room-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* .create-room-inputs>input {
  border: 2px solid var(--primary);
  color: var(--text);
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.create-room-inputs>input::placeholder {
  color: var(--text);
  font-weight: bold;
} */

.password-option {
  display: flex;
  gap: 0.5rem;
}

.password-option>label {
  font-weight: 700;
  font-size: smaller;
}

/* .password-option>input[type="checkbox"] {
  accent-color: var(--accent);
  border: 4px solid var(--primary)
} */

.create-room-inputs>button {
  font-size: large;
  width: 100%;
  padding: 0.25rem 2rem;
  background-color: var(--primary);
  color: var(--text);
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: 75%;
  transition: all 0.15s linear;
}

.create-room-inputs>button:hover,
.create-room-inputs>button:active {
  opacity: 100%;
}


/* JOINROOM */

.join-room-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.join-room-inputs>input {
  border: 2px solid var(--primary);
  color: var(--text);
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.join-room-inputs>input::placeholder {
  color: var(--text);
  font-weight: bold;
}


.join-room-password-verify {
  padding: 0;
  margin: 0;
}

.join-room-password-verify>* {
  margin: 0;
  padding: 0;
}

.join-room-password-verify>p {
  margin-bottom: 0.25rem;
  padding: 0;
}

.join-room-password-verify>div {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}