/* HEADER */

header {
  width: 100%;
}

.header-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.header-container>h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: 500;
}

.header-container>h1>a {
  text-decoration: none;
}

.header-container>h1>a:visited,
.header-container>h1>a:active,
.header-container>h1>a:focus {
  color: var(--text);
  text-decoration: none;
}


/* HOME  */
.home-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-top: 2rem;
}

.home-input {
  padding: 0.25rem 0.5rem;
  color: gray;
  width: fit-content;
}
